body {
	font-family: 'Nunito', sans-serif;
}

.order-button {
	background-color: red;
	border: 0;
	border-radius: 0;
}

nav .order:hover {
	background-color: red;
}

header {
	position: relative;
	background-color: black;
	height: 80vh;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
}


header video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	transform: translate(-50%, -50%);
}

header .container {
	position: relative;
	z-index: 2;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.3;
	z-index: 1;
}

.side-img {
	background-image: url(../img/eating-pizza.jpg);
	height: 80vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.welcome {
	font-weight: 700;
}

.welcome-text {
	text-transform: uppercase;
	font-weight: 700;
}

#about {
	line-height: 2.25rem;
}

#menu {
	font-family: 'Jura', serif;
	background-image: url(../img/pizza.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 0;
}

.bottom-border {
	border-bottom: 3px solid white;
	width: 20%;
	margin: auto;
	margin-bottom: 1rem;
}

#menu h4, h2 {
	font-weight: 700;
}

.menu-content {
	font-weight: 700;
}

.menu-content h4 {
	text-decoration: underline;
}

.pizza-order {
	background-image: url(../img/pizza-order.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	
	height: 100vh;
}

#order-form {
	display: none;
}
.total-pizza-cost {
	display: none;
}

#show-order {
	display: none;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('../img/pizza-closeup.jpg') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}